[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
responder = {file = ".", editable = true}

[dev-packages]
pytest = "*"
"flake8" = "*"
black = "==20.8b1"
twine = "*"
flask = "*"
sphinx = "*"
marshmallow = "*"
pytest-cov = "*"

[pipenv]
allow_prereleases = true
