[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
waitress = "*"
werkzeug = "*"
pyyaml = "*"
requests = "*"
requests-wsgi-adapter = "*"
graphene = "*"
whitenoise = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
